<div class="row" *ngIf="lineChartData">
  <div class="grid">
      <div fxLayout="column" fxLayoutAlign="center center">
          <canvas baseChart width="1000" height="500"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="chartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
          </canvas>
      </div>
  </div>
</div>
