<button mat-raised-button (click)="logOut()">LogIn</button>
<button mat-raised-button *ngIf="!!isAdmin" (click)="configPanel()">Panel de configuracion</button>

<mat-tab-group>
  <mat-tab label="Sensores">
    <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutGap="15px">
        <p fxLayoutAlign="center center">Viento</p>
        <ngx-gauge [type]="'semi'"
          [min]="windSensorValue?.min"
          [max]="windSensorValue?.max"
          [value]="windSensorValue?.value"
          [label]="''"
          [append]="'km/hr'"
          [foregroundColor]= "'DodgerBlue'">
        </ngx-gauge>
      </div>
      <div fxLayout="column" fxLayoutGap="15px">
        <p fxLayoutAlign="center center">Temperatura</p>
        <ngx-gauge [type]="'semi'"
          [min]="tempetureSensorValue?.min"
          [max]="tempetureSensorValue?.max"
          [value]="tempetureSensorValue?.value"
          [label]="''"
          [append]="'C'"
          [foregroundColor]= "'Tomato'">
        </ngx-gauge>
      </div>
      <div fxLayout="column" fxLayoutGap="15px">
        <p fxLayoutAlign="center center">Humedad</p>
        <ngx-gauge [type]="'semi'"
          [min]="humiditySensorValue?.min"
          [max]="humiditySensorValue?.max"
          [value]="humiditySensorValue?.value"
          [label]="''"
          [append]="'%'"
          [foregroundColor]= "'MediumSeaGreen'">
        </ngx-gauge>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Historico Viento">
    <app-chart *ngIf="windChartLabels?.length > 0" [sensorData]="windSensorValue" [data]="windChartData" [labels]="windChartLabels" [color]="windType"></app-chart>
  </mat-tab>
  <mat-tab label="Historico Temperatura">
    <app-chart *ngIf="temperatureChartLabels?.length > 0" [sensorData]="tempetureSensorValue" [data]="temperatureChartData" [labels]="temperatureChartLabels" [color]="temperatureType"></app-chart>
  </mat-tab>
  <mat-tab label="Historico Humedad">
    <app-chart *ngIf="humidityChartLabels?.length > 0" [sensorData]="humiditySensorValue" [data]="humidityChartData" [labels]="humidityChartLabels" [color]="humidityType"></app-chart>
  </mat-tab>
</mat-tab-group>
