<button mat-raised-button (click)="logOut()">LogIn</button>
<button mat-raised-button (click)="mainView()">Vista principal</button>
<h1>Configuraciones :</h1>
<mat-tab-group>
  <mat-tab label="Sensores">
    <div fxLayout="column" fxLayoutGap="20px" style="padding-top:15px;">
      <mat-form-field>
        <input matInput min="0" type="number" placeholder="Tiempo entre muestras en segundos" (ngModelChange)="changeTime()" [(ngModel)]="tiempoEntreMuestras">
      </mat-form-field>
      <div>Funcion de viento</div>
      <p>
        A {{funcionDeViento?.a}}
      </p>
      <p>
        B {{funcionDeViento?.b}}
      </p>
      <p>
        C {{funcionDeViento?.c}}
      </p> 
      <mat-form-field>          
        <input matInput type="number" placeholder="Valor a" [(ngModel)]="valorAFuncionViento">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Valor b" [(ngModel)]="valorBFuncionViento">
      </mat-form-field>
      <mat-form-field>
          <input matInput type="number" placeholder="Valor c" [(ngModel)]="valorCFuncionViento">
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="changeWindFunction()">Asignar valor de funcion viento</button>
      </div>
      
      <div>Funcion de temperatura</div>
      <p>
        A {{funcionDeTemperatura?.a}}
      </p>
      <p>
        B {{funcionDeTemperatura?.b}}
      </p>
      <p>
        C {{funcionDeTemperatura?.c}}
      </p> 
      <mat-form-field>          
        <input matInput type="number" placeholder="Valor a" [(ngModel)]="valorAFuncionTemperatura">
      </mat-form-field>
      <mat-form-field>
          <input matInput type="number" placeholder="Valor b" [(ngModel)]="valorBFuncionTemperatura">
      </mat-form-field> 
      <mat-form-field>          
        <input matInput type="number" placeholder="Valor c" [(ngModel)]="valorCFuncionTemperatura">
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="changeTemperatureFunction()">Asignar valor de funcion temperatura</button>
      </div>
      
      <div>Funcion de humedad</div>
      <p>
        A {{funcionDeHumedad?.a}}
      </p>
      <p>
        B {{funcionDeHumedad?.b}}
      </p>
      <p>
        C {{funcionDeHumedad?.c}}
      </p>
      <mat-form-field>                    
        <input matInput type="number" placeholder="Valor a" [(ngModel)]="valorAFuncionHumedad">
      </mat-form-field>
      <mat-form-field>                    
      <input matInput type="number" placeholder="Valor b" [(ngModel)]="valorBFuncionHumedad">
      </mat-form-field>
      <mat-form-field>                    
        <input matInput type="number" placeholder="Valor c" [(ngModel)]="valorCFuncionHumedad">
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="changeHumidityFunction()">Asignar valor de funcion humedad</button>
      </div>
      
    </div>
  </mat-tab>
  <mat-tab label="Alarmas">
    <div fxLayout="column" fxLayoutGap="20px" style="padding-top:15px;">
      <div>Viento</div>
      <p>Se aceptan valores positivos</p>
      <mat-form-field>
        <input type="number" min="0" matInput placeholder="Umbral Inferior" [(ngModel)]="umbralInferiorViento">
      </mat-form-field>
      <mat-form-field>
        <input type="number" min="0" matInput placeholder="Umbral Superior" [(ngModel)]="umbralSuperiorViento">
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="changeWindThreshold()">Asignar umbrales de viento</button>
      </div>
      
      <div>Temperatura</div>
      <mat-form-field>
        <input type="number" matInput placeholder="Umbral Inferior" [(ngModel)]="umbralInferiorTemperatura">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Umbral Superior" [(ngModel)]="umbralSuperiorTemperatura">
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="changeTemperatureThreshold()">Asignar umbrales de temperatura</button>
      </div>
      
      <div>Humedad</div>
      <p>Se aceptan valores entre 0 y 100</p>
      <mat-form-field>
        <input type="number" min="0" matInput placeholder="Umbral Inferior" [(ngModel)]="umbralInferiorHumedad">
      </mat-form-field>
      <mat-form-field>
        <input type="number" max="100" matInput placeholder="Umbral Superior" [(ngModel)]="umbralSuperiorHumedad">
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="changeHumidityThreshold()">Asignar umbrales de humedad</button>
      </div>

      <div>Asignar Email a cual avisar</div>
      <mat-form-field>
        <input type="email" matInput placeholder="Correo electrónico destinatario" [(ngModel)]="email">
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="assignEmail()">Asignar email</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Salidas digitales">
    <div fxLayout="column" fxLayoutGap="15px" style="padding-top:15px;">
      <div>
        <button mat-raised-button (click)="turnOnLight()">Prender Luz</button>
        <button mat-raised-button (click)="turnOffLight()">Apagar Luz</button>
      </div>
      <div>horario de encendido</div>
      <mat-form-field>
        <input type="number" matInput placeholder="Hora" [(ngModel)]="horaLuzEncendido">
      </mat-form-field> 
      <mat-form-field>                    
          <input type="number" matInput placeholder="Minutos" [(ngModel)]="minutoLuzEncendido">
      </mat-form-field>
      <div>horario de apagado</div>     
      <mat-form-field>
          <input type="number" matInput placeholder="Hora" [(ngModel)]="horaLuzApagado">
      </mat-form-field>
      <mat-form-field>                    
          <input type="number" matInput placeholder="Minutos" [(ngModel)]="minutoLuzApagado">
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="changeLightTimes()">Asignar horarios</button>
      </div>

      <mat-form-field>                    
          <input type="number" matInput placeholder="Hora de inicio" [(ngModel)]="registroStart">
      </mat-form-field>
      <mat-form-field>                    
          <input type="number" matInput placeholder="Hora de fin" [(ngModel)]="registroEnd">
      </mat-form-field>

      <div>
        <button mat-raised-button (click)="downloadRegistry('wind')">Descargar registro Viento</button>
        <button mat-raised-button (click)="downloadRegistry('temperature')">Descargar registro Temperatura</button>
        <button mat-raised-button (click)="downloadRegistry('humidity')">Descargar registro Humedad</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
