/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~material-design-icons/iconfont/material-icons.css';

body {
  background: white;
}

.reading-block {
    font-size: 30px !important;
}
